.container {
  width: 100%;
  padding: 50px;
  text-align: center;

  min-height: calc(100vh - 100px);
  height: calc(100vh - 100px);

  h1 {
    color: #333;
    font-size: 54px;
    border: 5px solid #333;
    padding: 20px;
  }

  .btnBack {
    border: 3px solid #333;
    font-size: 24px;
    padding: 10px 20px;
    background: #fff;
    transform: scale(0.7);
    cursor: pointer;
  }
}
